@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ui-primary: #f9f9f9;
	--ui-secondary: #fff;
	--inverted: #000000;
	--light-primary: #b786ee;
	--primary: #b066f3;
	--dim-primary: #8454bc;
	--secondary: #b12abf;
	--tertiary: #4663ca;
	--gradient: linear-gradient(278deg, #b066f3, #c20dc5);
}

[data-theme='dark'] {
	--ui-primary: #201f23;
	--ui-secondary: #2c2c2c;
	--inverted: #ffffff;
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	box-sizing: border-box;
	/* scrollbar mozilla */
	scrollbar-color: var(--primary);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track-piece {
	background-color: var(--ui-secondary);
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
}

@layer components {
	.divider {
		@apply w-full border border-[var(--ui-secondary)];
	}

	.subtitle {
		@apply tx-inverted text-2xl font-semibold;
	}

	.tri-buttons {
		@apply ui-secondary flex flex-col rounded-2xl gap-2 p-6 my-6 w-1/2 items-center text-lg;
	}
}

/*
 * COLORS CLASSES
 */
.ui-primary {
	background-color: var(--ui-primary);
}

.ui-secondary {
	background-color: var(--ui-secondary);
}

.bg-primary {
	background-color: var(--primary);
}

.tx-inverted {
	color: var(--inverted);
}

.tx-primary {
	color: var(--primary);
}

.gradient {
	background-image: var(--gradient);
}
